jupyter==1.0.0
numpy==1.16.2
pandas==0.24.2
scikit-learn==0.21.3
scikit-image==0.15.0              
matplotlib==3.0.2
ipywidgets==7.4.2
jupyter_contrib_nbextensions==0.5.1
jupyter_nbextensions_configurator==0.4.1
tensorflow==2.9.3
tensorflow-datasets==1.0.1
jupyter-tensorboard==0.1.9
plotly==4.1.1
Pillow==6.2.0
imageio==2.5.0
imbalanced-learn==0.5.0
